*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse project settings #
.classpath
.project
.settings

# Idea project settings #
.idea
*.iml

# Maven folder structure #
target/

# Apache Derby #
db-derby/
derby.log

